.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.menu-subtitle {
  text-align: center;
  font-size: 20px;
}

.wrap-button {
  display: flex;
  justify-content: flex-end;
}
